---
import '@styles/tailwind.css';
import { getEntry } from "astro:content";
import TechStack from "./TechStack.astro";

const resumeData =  await getEntry('resume', 'index');
const experiences = resumeData.data.experiences;
---
<div>
    {
        experiences?.map((exp: any) => {
            return (
                <div class="mb-8">
                  <div class="
                    mb-2
                    grid grid-cols-12
                    border-b-2 border-black border-dotted
                  ">
                    <h3 class="col-span-9">
                        {exp.title}
                    </h3>
                    <div class="col-span-3 grid grid-rows-2">
                      <div>{exp.name}</div>
                      <div>{exp.period}</div>
                    </div>
                  </div>
                  <div id="achievement">
                    <ul class="list-disc pl-8 mb-2">
                        {
                            exp.achievements?.map((arch: any) => {
                                return (
                                    <li>{arch.description}</li>
                                )
                            })
                        }
                    </ul>
                  </div>
                  <div>
                    <p class="font-bold">
                      techs:
                        {
                            exp.stack?.map((stack: any) => {
                                return (
                                    <TechStack value={stack}/>
                                )
                            })
                        }
                    </p>
                  </div>
                </div>
            )
        })
    }
</div>