---
import BaseLayout from "../../layouts/BaseLayout.astro";
import astroUtil from '@libs/astro';

export async function getStaticPaths() {
    const posts =
        (await astroUtil.getPosts('blog'))
            .sort((a, b) => {
                return a.data.pubDate.getMilliseconds() - b.data.pubDate.getMilliseconds();
            });
    const tags =
        astroUtil.getTagByCollection(posts);
    const result = [];
    for (const tag of tags) {
        result.push({
            params: {
                tag: tag
            },
            props: {
                posts: [...astroUtil.getPostInfoBy(posts, tag)],
            }
        });
    }

    return result;
}

const {tag} = Astro.params;
const {posts} = Astro.props;
---
<BaseLayout>
    <p>Posts tagged with {tag} </p>
    <ul>
        {
            posts.map(post => {
                return (
                        <li>
                            {post.slug} {post.title}
                        </li>
                )
            })
        }
    </ul>
</BaseLayout>
